<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Helpful Commands</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li>/eat</li>
      <li>/train</li>
      <li>/weather</li>
    </ul>
  </div>
</div>