<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="/js/main.js"></script>
<script>
  Handlebars.registerHelper('dateformat', function(date, format) {
    return moment(date).format(format);
  });
</script>
<script id="template-chat-rat" type="text/x-handlebars-template">
  <li class="left clearfix"><span class="chat-img pull-left">
      <img src="http://placehold.it/50/e63946/fff?text=Rat" alt="User Avatar" class="img-circle" />
  </span>
      <div class="chat-body clearfix">
          <div class="header">
              <strong class="primary-font">Pizza Rat</strong> <small class="pull-right text-muted">
                  <span class="glyphicon glyphicon-time"></span>{{dateformat Date "ddd H:mm A"}}</small>
          </div>
          <p>{{{response}}}</p>
      </div>
  </li>
</script>
<script id="template-chat-user" type="text/x-handlebars-template">
  <li class="right clearfix"><span class="chat-img pull-right">
      <img src="http://placehold.it/50/a8dadc/000?text=You" alt="User Avatar" class="img-circle" />
  </span>
      <div class="chat-body clearfix">
          <div class="header">
              <small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{dateformat Date "ddd H:mm A"}}</small>
              <strong class="pull-right primary-font">You</strong>
          </div>
          <p class="pull-right">{{message}}</p>
      </div>
  </li>
</script>
</body>
</html>
