<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Ask Away</h3>
  </div>
  <div class="panel-body">
    <p>
      Helper text explaining what to do.
    </p>
  </div>
</div>