<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Get NYC Health Code and Travel Information</h3>
  </div>
  <div class="panel-body">
    <p>
      Pizza Rat knows. Chat with Pizza Rat and he will tell you if the restaurant you want to eat at has a good inspeciton score. He will also tell you the best way to get this resturant that you have decided to go to.
    </p>
    <p>
      For example chat with Pizza Rat by asking <code>/eat The Commodore</code>
    </p>
  </div>
</div>