<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="padding-top: 0; padding-bottom: 0; padding-right: 0; ">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M97.958,64.536l-21.614-22.4c-0.444-4.55-4.291-8.117-8.956-8.117c-1.819,0-3.511,0.546-4.928,1.478  c-16.213-3.881-26.07-3.889-26.495-3.901c-10.851,0-19.68,8.827-19.688,19.678c0,0.004-0.001,0.01-0.001,0.014  c0,0.003,0,0.004,0,0.007c-0.004,6.953-5.661,12.606-12.616,12.606c-1.147,0-2.077,0.931-2.077,2.077s0.93,2.077,2.077,2.077  c6.324,0,11.836-3.52,14.693-8.699c2.856,5.18,8.369,8.699,14.693,8.699c0.211,0,0.416-0.024,0.625-0.031  c0.104,0.015,0.207,0.031,0.315,0.031h62.477c0.834,0,1.587-0.498,1.913-1.266C98.701,66.023,98.536,65.136,97.958,64.536z   M44.059,63.901c3.519-3.075,5.756-7.584,5.756-12.613c0-1.146-0.929-2.077-2.077-2.077s-2.077,0.93-2.077,2.077  c0,6.956-5.66,12.613-12.616,12.613c-6.955,0-12.613-5.653-12.616-12.606c0-0.003,0-0.004,0-0.007  c0-8.568,6.969-15.538,15.541-15.538c0,0,0,0,0.001,0c0.16,0,8.994,0.035,23.36,3.28c-0.598,1.204-0.943,2.555-0.943,3.989  c0,4.962,4.038,9,8.999,9c1.146,0,2.077-0.931,2.077-2.077c0-1.147-0.931-2.077-2.077-2.077c-2.672,0-4.845-2.174-4.845-4.846  c0-2.672,2.173-4.846,4.845-4.846s4.846,2.174,4.846,4.846c0,0.538,0.209,1.055,0.584,1.442l18.758,19.44H44.059z"></path><circle cx="76.852" cy="55.595" r="2.654"></circle></svg>
              <p class="navbar-text">Pizza Rat</p>
      </a>
    </div>
  </div>
</nav>